---
# SOPS configuration for Ansible secrets
# Copy to project root as .sops.yaml
# See: https://github.com/getsops/sops

creation_rules:
  # Production secrets - use AWS KMS
  - path_regex: vault/production\.yml$
    kms: arn:aws:kms:us-east-1:123456789:key/your-key-id
    encrypted_regex: "^(password|secret|key|token|private|api_key|db_password)$"
    pgp: ""  # Disable PGP for this rule

  # Staging secrets - use PGP
  - path_regex: vault/staging\.yml$
    pgp: "YOUR_PGP_FINGERPRINT"
    encrypted_regex: "^(password|secret|key|token|private)$"

  # Development secrets - use age (modern alternative to PGP)
  - path_regex: vault/dev\.yml$
    age: age1ql3z7hjy54pw3hyww5ayyfg7zqgvc7w3j2elw8zmrj2kg5sfn9aqmcac8p
    encrypted_regex: "^(password|secret|key|token)$"

  # Multi-cloud example - use multiple KMS providers
  - path_regex: vault/multicloud\.yml$
    kms: arn:aws:kms:us-east-1:123456789:key/aws-key-id
    gcp_kms: projects/my-project/locations/global/keyRings/my-keyring/cryptoKeys/my-key
    azure_kv: https://my-vault.vault.azure.net/keys/my-key/version
    encrypted_regex: "^(password|secret|key|token)$"

  # Default rule for all other files
  - path_regex: \.yml$
    pgp: "YOUR_PGP_FINGERPRINT"
    encrypted_regex: "^(password|secret|key|token|private)$"

# Unencrypted suffix (optional)
# Files ending with .cleartext.yml won't be encrypted
unencrypted_suffix: .cleartext.yml

# Store creation date/time
creation_date: true
